:root {
    --main-color: #212121;;
    --secondary-color: #2196F3;
    --main-font: font-family: 'Roboto', sans-serif;    
    --secondary-font: font-family: 'Raleway', sans-serif;  
}
body {
    font-family: var(--main-font);
    color:var(--main-color);
}
a:link {
  text-decoration: none;
}

/* section HEADER */

.header-logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
}
