:root {
    --main-color: #2196F3;
    --main-font: font-family: 'Roboto', sans-serif;    
    --secondary-font: font-family: 'Raleway', sans-serif;  
}
body {
    font-family: var(--main-font);
}
.font-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
